html
  head
    title kk
  body
    .jumbotron
      h1.jumbotron-heading Namesake News
      .jumbotron-body
        p Find what's happening to the people with your name in news!
        p 
          a(href="/login/facebook") Log in with facebook