html(lang='en')

  head
    title #{user.first_name} on the web &mdash; Namesake News
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap.css")
    link(rel='stylesheet', href="/css/core.css")
    script(src="/jquery/dist/jquery.min.js")
    script(src="/news.js" async=true)
    script !{news_article}

  body
    .jumbotron
      h1.jumbotron-heading Namesake News
      .jumbotron-body
        p Just look at this unbelievalble attraction 
    .feed.container-fluid
    .loader
      .windows8
        #wBall_1.wBall
          .wInnerBall
        | &#x9;
        #wBall_2.wBall
          .wInnerBall
        | &#x9;
        #wBall_3.wBall
          .wInnerBall
        | &#x9;
        #wBall_4.wBall
          .wInnerBall
        | &#x9;
        #wBall_5.wBall
          .wInnerBall
