.loader {
  height: 40px;
  margin: 40px auto; }

.highlight {
  background: #ffff87; }

.media img {
  width: 100px; }

/* Space out content a bit */
body {
  padding-bottom: 1.5rem; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
  padding-right: 1rem;
  padding-left: 1rem; }

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5; }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem; }

/* Make the masthead heading the same height as the navigation */
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5; }

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem; } }

.container-narrow > hr {
  margin: 2rem 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5; }
  .jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem; }

/* Supporting marketing content */
.marketing {
  margin: 3rem 0; }
  .marketing p + h4 {
    margin-top: 1.5rem; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0; }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem; }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }

.windows8 {
  position: relative;
  width: 32px;
  height: 32px;
  margin: auto; }
  .windows8 .wBall {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    transform: rotate(225deg);
    animation: orbit 3.7325s infinite; }
    .windows8 .wBall .wInnerBall {
      position: absolute;
      width: 6px;
      height: 6px;
      background: black;
      left: 0px;
      top: 0px;
      border-radius: 6px; }
  .windows8 #wBall_1 {
    animation-delay: 0.153s; }
  .windows8 #wBall_2 {
    animation-delay: 0.423s; }
  .windows8 #wBall_3 {
    animation-delay: 0.693s; }
  .windows8 #wBall_4 {
    animation-delay: 0.963s; }
  .windows8 #wBall_5 {
    animation-delay: 1.233s; }

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out; }
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%; }
  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%; }
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%; }
  66% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%; }
  70% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%; }
  71% {
    opacity: 0;
    transform: rotate(900deg); }
  100% {
    opacity: 0;
    transform: rotate(900deg); } }
